<form [formGroup]="jobsForm">
  <div formArrayName="jobs">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Id</th>
          <th>Lat</th>
          <th>Lng</th>
          <th>Duration</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of getJobs().controls; index as i" [formGroupName]="i">
          <td>
          </td>
          <td><input type="text" class="form-control" formControlName="id"></td>
          <td><input type="number" class="form-control" name="lat" formControlName="lat"></td>
          <td><input type="number" class="form-control" name="lat" formControlName="lng"></td>
          <td><input type="number" class="form-control" name="duration" formControlName="duration"></td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDeleteJob(i)">X</button>
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-primary" (click)="onAddJob()">+</button>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</form>