<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:20%">Tag</th>
        <th>Address</th>
        <th  style="width:20%">Duration</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" formControlName="newId" id="newId" class="form-control" [value]="getNextId()"></td>
        <td><input type="text" formControlName="newAddress" id="newAddress" class="form-control" #newAddress></td>
        <td><input type="number" formControlName="newDuration" id="newDuration" class="form-control" [value]="defaultDuration"></td>
        <td>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">+</button>
        </td>
      </tr>
      <tr *ngFor="let job of jobs; index as i">
        <td>
          {{ job.id }}
        </td>
        <td>{{ job.address }}</td>
        <td>{{ job.duration }}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="onDeleteJob(i)">X</button>
        </td>
      </tr>

    </tbody>
  </table>
</form>