<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:20%">Tag</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" formControlName="newId" id="newId" class="form-control" [value]="getNextId()"></td>
        <td><input type="text"  rows="1" formControlName="newAddress" id="newAddress" class="form-control" #newAddress></td>
        <td>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">+</button>
        </td>
      </tr>
      <tr *ngFor="let engineer of engineers; index as i">
        <td>
          {{ engineer.id }}
        </td>
        <td>{{ engineer.address }}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="onDeleteEngineer(i)">X</button>
        </td>
      </tr>

    </tbody>
  </table>
</form>