<form [formGroup]="engineerForm">
  <div formArrayName="engineers">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Id</th>
          <th>Lat</th>
          <th>Lng</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let engineer of getEngineers().controls; index as i" [formGroupName]="i">
          <td>
          </td>
          <td>
            {{ engineer.id }}
          </td>
          <td>{{ engineer.lat }}</td>
          <td>{{ engineer.lng }}</td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDeleteEngineer(i)">X</button>
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-primary" (click)="onAddEngineer()">+</button>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</form>